ENV=preprod
DEBUG=False
LOG_LEVEL=INFO
API_PORT=8000
MLFLOW_PORT=5000
MLFLOW_TRACKING_URI=http://mlflow:5000
MLFLOW_EXPERIMENT=infartos-prevencion-preprod
MODEL_VERSION=latest
RECALL_MIN=0.70
SECRET_KEY=cambia-esto-en-produccion
